body {
    background: #6dbddd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #addddb, #98dfdb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a4ccc9, #9ce4da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#listaContactos {
    list-style: none;
    padding: 0;
}

#listaContactos li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
   
}